{
  "CN": "{{db.CN}}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{db.C}}",
      "L": "{{db.L}}",
      "ST": "{{db.ST}}",
      "O": "{{db.CN}}",
      "OU": "{{db.OU}}"
    }
  ]
}

