[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/bin/etcd \
  --name {{ xname }} \
  --cert-file=/etc/etcd/db.pem \
  --key-file=/etc/etcd/db-key.pem \
  --peer-cert-file=/etc/etcd/db.pem \
  --peer-key-file=/etc/etcd/db-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --initial-advertise-peer-urls https://{{ hostname }}:2380 \
  --listen-peer-urls https://{{ ip }}:2380 \
  --listen-client-urls http://{{ ip }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://{{ hostname }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {{ hosts | map(attribute='endpoint') | join(',') }} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd \
  --max-txn-ops 4096
Restart=on-failure
RestartSec=5
  
#db0=https://db0.dcomptb.net:2380,db1=https://db1.dcomptb.net:2380,db2=https://db2.dcomptb.net:2380 \

[Install]
WantedBy=multi-user.target
